.RightContainer {
    min-height: 289px;
    padding-top: 16px;
}

.Image {
    position: absolute;
    z-index: 1;
    right: 11px;
    width: 100%;
    max-width: 143px;
    bottom: 0;
}

.ListContainer {
    position: relative;
}

.Container {
    position: relative;
    display: flex;
}

html[dir='rtl'] .Container {
    margin-right: 155px
}

.List {
    max-width: 160px;
}