.RightContainer {
    min-height: 289px;
    padding-top: 16px;
}

.Image {
    position: absolute;
    z-index: 1;
    /* right: 11px; */
    right: -1px;
    /* bottom: 48px; */
    width: 100%;
    max-width: 167px;
    /* opacity: 0;
    transform: translateX(20px);
    transition: all 1s ease-in-out 2s;
    
    opacity: 1;
    transform: translateX(0); */
}

.ListContainer {
    position: relative;
}

.Container {
    position: relative;
    display: flex;
}

.List {
    max-width: 160px;
}