.ListContainer {
    position: relative;
    margin: 24px 0 16px;
}

.Container {
    position: relative;
    display: flex;
}

html[dir='rtl'] .Container {
    margin-right: 155px
}

.List {
    max-width: 160px;
}

